footer {
  width: 100%;
  background: #006494;
  position: relative;
  bottom: 0;
  
}

footer .container-footer .footer-body {
  padding: 60px 0;
  height: 200px;
  
    

}

footer .container-footer .footer-body {
  .redes-sociales {
    display: flex;
    justify-content: center;
    a {
        color: whitesmoke;
        text-align: center;
        width: 100px;
        display: block;
        padding: 15px 0;
        font-size: 20px;
        /* background: #ccc; */
        margin: 0 8px;
    }
  }
}

footer .container-footer .footer-body {
  .redes-sociales {
    .facebook:hover { background:#3b5998 ;}
    .twitter:hover {background: #1da1f2;}
    .linkedin:hover {background: #0077b5;}
    .instagram:hover {background: #e1306c;}
    .github:hover {background: #333;}
  }
}




// footer .container-footer .footer-body ul {
//   list-style: none;
//   width: 350px;
 
// }

// footer .container-footer .footer-body ul li {
//   display: inline-block;
//   margin: auto 28px;
// }

// footer .container-footer .footer-body ul li a {
//   text-align: center;
//   text-decoration: none;
//   color: white;
//   transition: 0.2s ease-in-out;
// }

// footer .container-footer .footer-body ul li a:hover {
//   color: #ff7f50;
// }

footer .container-footer .footer-pie {
  padding: 2px;
  background: #01557c;
  text-align: center;
}
footer .container-footer .footer-pie p {
  display: block;
  margin-top: 15px;
  color: #ffffff;
}
