header {
  width: 100%;
  height: 600px;
  background-image: url(../img/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  position: relative;
  overflow: hidden;
  // z-index: 1000;

  //    .content-button {
  //        float: right;

  //        .btn-hambuger {
  //         position: relative;
  //         border: none;
  //         color: #fff;
  //         background: none;
  //         margin: 20px;
  //         z-index: 1;
  //        }

  //        .btn-hambuger:hover {
  //            color: white;
  //        }
  //    }
}
// header::before {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 300px;
//   background: #fff;
//   // clip-path: polygon(100% 50%, 0 100%, 100% 100%);
// }

// header nav{
//      float: right;
//      line-height: 20px;
// }

// header nav a{
//     display: inline-block;
//     margin: 8px;
//     text-decoration: none;
//     padding: 8px 20px;
//     color: white;
//     transition: .2s ease-in-out;
// }

.menu {
  width: 100%;
  display: flex;
  flex-direction: rows;
  justify-content: flex-end;
  //  position: fixed;
  margin: auto;
  align-items: center;
  // background: rgb(56, 70, 255);
}

.logo{
  margin: 10px;
  padding: 5px 20px;
  background: #fc6a35;
  border-radius: 25px;
  h2{
    color: #fff;
    font-size: 25px;

  }
}

.menu .btn-menu {
  display: none;
  color: #ffff;
  text-decoration: none;
  font-size: 1em;
}

.menu .enlaces {
  display: inline-flex;
  text-align: right;
}

.menu .enlaces a {
  margin: 8px;
  text-decoration: none;
  padding: 5px 10px;
  color: white; 
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
}

.menu .enlaces a:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  padding: 20px;
}
.show-menu-btn {
  float: right;
}
#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}



// .full-menu {
//     background:#222f3e;
//     width: 100%;
//     height: 100vh;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     ul li {
//         list-style: none;
//         text-align: center;
//         margin-top: 20px;
//         a {

//             text-decoration: none;
//             color: #fff;
//             font-size: 20px;
//             letter-spacing: 2;
//             padding: 8px 20px;
//             transition: .2s ease-in-out; border-bottom: 2px solid #ff7f50;
//         }
//         a:hover {
//             border-bottom: none;
//             border-radius: 20px;
//             background: #ff7f50;
//             color: #000000;
//             text-decoration: none;
//         }
//     }
// }

.title-my-name {
  display: block;

  text-align: center;
  margin-top: 10%;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
}
.content-title-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 5px auto;
  padding: 1px 0px;
  background: #fc6a35;
  border-radius: 30px;

  .title-position {
    display: block;
    padding-top: 7.5px;
    text-align: center;
    color: #fff;
    font-size: 25px;
  
  }
}

header .line {
  width: 600px;
  margin: auto;
  height: 4.5px;
  background: #00a8ff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
